version: 2
jobs:
  build:
    environment:
      CC_TEST_REPORTER_ID: d269a89f5c347200c7e9c863e71759e69c8fa01f4bfab4de7064192e41805128
    docker:
      - image: circleci/ruby:2.6.3-node-browsers
      - image: circleci/postgres:9.4
        environment:
          POSTGRES_USER: 'postgres'
          POSTGRES_HOST_AUTH_METHOD: trust

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: install dependencies
          command: |
            gem install bundler
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      # Database setup
      - run: cp .circleci/database.yml config/database.yml
      - run: cp .circleci/application.yml config/application.yml
      - run: RAILS_ENV=test bundle exec rake db:create
      - run: RAILS_ENV=test bundle exec rake db:schema:load

      - run:
          name: I18n Health
          command: bundle exec i18n-tasks health

      - run:
          name: run tests
          command: RAILS_ENV=test bundle exec rspec

      # Run code_analysis!
      - run:
          name: run code analysis
          command: RAILS_ENV=test bundle exec rake code_analysis

      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

      # Run codeclimate!
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            ./cc-test-reporter before-build
            ./cc-test-reporter after-build
